.main_headings{margin-bottom: 30px;
    line-height: 30px;
    color: #333333;
    padding-right: 8px;
    font-weight: 600;
    display: inline-block;
    float: none;
    font-size: 22px !important;
    text-align: center;
    width: 100%;
    white-space: normal;
    margin: 0;
    padding: 0 8px 0 0;
    font-family: 'MuseoSlab500Regular', arial, helvetica, sans-serif;
    box-sizing: border-box;
}

.main_headings2{
    font-size: 0.6em;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #737373;
    margin: 0;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.labelsheading{
font-weight: bold !important;
margin-bottom: 2px !important;
box-sizing: border-box;
color: #737373;
line-height: 30px;
font-size: 14px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-weight: 400 !important;
}

.cusombtn{    
    text-rendering: auto;
    cursor:pointer;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    background: #55a098;
    color: #ffffff;
    border-color: #ffffff;
    padding: 13px 29px;
    line-height: 17px;
    font-size: 14px;
    border-width: 0px;
    border-style: solid;
    -webkit-border-radius: 2px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;}