/*
Theme Name: MTS Child
Description: Child theme for Mytutor theme
Author: Arslan
Author URI: https://eyetea.co
Template: MTS
Version: 1.0.0
Text Domain:  MTS
*/
#post-404page{margin-top:130px;}
/*Contact Form*/

#comment-input .placeholder, #comment-input input, #comment-textarea .placeholder, #comment-textarea textarea, #tribe-bar-form input[type="text"], #wrapper .search-table .search-field input, .avada-select .select2-container .select2-choice, .avada-select .select2-container .select2-choice2, .avada-select-parent select, .chzn-container .chzn-drop, .chzn-container-single .chzn-single, .comment-form-comment textarea, .input-text, .main-nav-search-form input, .post-password-form .password, .search-page-search-form input, .wpcf7-captchar, .wpcf7-form .wpcf7-date, .wpcf7-form .wpcf7-number, .wpcf7-form .wpcf7-quiz, .wpcf7-form .wpcf7-select, .wpcf7-form .wpcf7-text, .wpcf7-form textarea, .wpcf7-select-parent , input.s, input.s .placeholder, input[type="text"], select, textarea{color:#737373 !important;  font-size: 13px !important;}

#comment-input .placeholder, #comment-input input, #comment-textarea .placeholder, #comment-textarea textarea, #tribe-bar-form input[type="text"], #wrapper .search-table .search-field input, .avada-select .select2-container .select2-choice, .avada-select .select2-container .select2-choice2, .avada-select-parent select, .chzn-container .chzn-drop, .chzn-container-single .chzn-single, .comment-form-comment textarea, .input-text, .main-nav-search-form input, .post-password-form .password, .search-page-search-form input, .wpcf7-captchar, .wpcf7-form .wpcf7-date, .wpcf7-form .wpcf7-number, .wpcf7-form .wpcf7-quiz, .wpcf7-form .wpcf7-text, .wpcf7-form textarea , input.s, input.s .placeholder, input[type="text"], select, textarea{color:#737373 !important;  font-size: 13px !important; width:70% !important;}
#comment-input .placeholder, #comment-input input, #tribe-bar-form input[type="text"], #wrapper .search-table .search-field input, .avada-select .select2-container .select2-choice, .avada-select .select2-container .select2-choice2, .avada-select-parent select, .chzn-container .chzn-drop, .chzn-container-single .chzn-single, .input-text, .main-nav-search-form input, .post-password-form .password, .search-page-search-form input, .wpcf7-captchar, .wpcf7-form .wpcf7-date, .wpcf7-form .wpcf7-number, .wpcf7-form .wpcf7-quiz, .wpcf7-form .wpcf7-text,  , input.s, input.s .placeholder, input[type="text"], select, {height:35px !important;}

  .wpcf7-select{color:#737373 !important;  font-size: 13px !important;width:100% !important;height:35px !important;}




#comment-input .placeholder, #comment-input input, #comment-textarea .placeholder, #comment-textarea textarea, #tribe-bar-form input[type="text"], #wrapper .search-table .search-field input, .avada-select .select2-container .select2-choice, .avada-select .select2-container .select2-choice2, .avada-select-parent select, .chzn-container .chzn-drop, .chzn-container-single .chzn-single, .comment-form-comment textarea, .input-text, .main-nav-search-form input, .post-password-form .password, .search-page-search-form input, .wpcf7-captchar, .wpcf7-form .wpcf7-date, .wpcf7-form .wpcf7-number, .wpcf7-form .wpcf7-quiz, .wpcf7-form .wpcf7-select, .wpcf7-form .wpcf7-text, .wpcf7-form textarea, .wpcf7-select-parent .select-arrow, input.s, input.s .placeholder, input[type="text"], select, textarea{color:#737373 !important;  font-size: 13px !important;}
.contactform-styling h3 {
    margin-bottom: 0;
}
.wpcf7-form .wpcf7-validation-errors, div.wpcf7-mail-sent-ok{display:inline-block;}
/*Contact Form*/
.fusion-content-boxes h2:hover, .fusion-content-boxes .heading:hover h2{color:#333 !important;}
.tfs-slider .background-image {
    background-size: 100% auto;
}

#mobile-menu-item-1960 {
    border-bottom: 1px solid #f2f2f2;
}
.fusion-header-v2 .fusion-secondary-header:first-child{
	display: none;
}
.fusion-megamenu-holder {
    min-width: 273px;
}
.fusion-megamenu-wrapper .fusion-megamenu-submenu {
    min-width: 273px;
}
#main{padding-top:0 !important;}
.fusion-header {
    border: 0 none !important;
}
.fusion-is-sticky .fusion-logo {
    position: static;
    transition: 0.4s ease-in-out 0s;
    -moz-transition: 0.4s ease-in-out 0s;
    -webkit-transition: 0.4s ease-in-out 0s;
    -ms-transition: 0.4s ease-in-out 0s;
     margin-top:12.5px;
}

.fusion-sticky-shadow .fusion-sticky-logo-1x {
    transform: translateY(0px) translateX(-21px);
}
.fusion-sticky-logo-1x {
    transform: translateY(-60px) translateX(-21px);
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
}
.grade-menu .fusion-megamenu-title a {
    border-bottom: 1px solid #f2f2f2;
}
.fusion-icon::after {
    content: "Menu";
    float: left;
    padding-right: 6px;
    color: #000;
font-size:16px;
padding-top:2px;
}
.fusion-icon.fa.fa-times::after{
content: "Close";
}
.fusion-is-sticky .fusion-mobile-nav-holder > ul {
    max-height: 100%;
    height: 76vh;
}

/*Footer Section Copyright*/
.widget_text {
    margin-bottom: 20px !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 265px;
}

/*Styles added by KHAN*/
.mobi-topbar {
    color: #10246c;
    text-align: center;
	font-size:14px;
margin: 5px auto;

}
.about-mts ul li {
    list-style: none;
}
.about-mts ul li > strong {
    font-size: 18px;
    margin-right: 1%;
}
.about-mts ul li::before {
    color: #10246a;
    content: "";
    font-family: fontawesome;
    font-size: 1.4em;
    margin-right: 1%;
}
.about-mts ul li > ul li::before {
    color: #2bd7c9;
    content: "";
    font-size: 12px;
}
.fusion-main-menu > ul > li > a{
	 font-size: 16px;
}
.mobi-topbar #mobibtn {
    border: 2px solid #2bd8ca;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 10px;
}
/*STYLES PRICING PAGE*/

#pricing_col1, #pricing_col2 {
    box-shadow: 0 0 8px 6px #ddd;
}
#pricing_col1 .fusion-column-wrapper {
    background: #00aeff none repeat scroll 0 0;
    color: #fff;
    font-size: 30px;
    line-height: 1.2;
    padding: 15%;
    text-align: center;
}
#pricing_col1 .fusion-column-wrapper .price-call {
    color: #0051b6;
    font-weight: bold;
}
#pricing_col2 .upper_level {
    background: #1cc6d5 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 0;
    padding: 4%;
    text-align: center;
}
#pricing_col2 .upper_level strong {
    font-size: 20px;
}
#pricing_col2 .lower_level {
color: #4C4C4C;
    font-size: 16px;
    line-height: 3.6;
    padding: 4% 5%
}
#pricing_col2 .lower_level i {
    float: right;
    margin-top: 18px;
}
.whats_include .fusion-content-boxes .link-area-box {
    cursor: auto;
}
.get-started-steps .fusion-content-boxes .link-area-box {
    cursor: auto;
}
/*STYLES PRICING PAGE ENDS*/
.footer-custom-wigdet{padding-top:0 !important;}
.footer-custom-wigdet {
    padding-left: 54px;
    padding-top: 20px;
}
.footer-icon{
color:#fff; 
background-color:#343b4b; 
padding:14px; 
border-radius:14px;
margin-right:10px;
}
.footer-custom-wigdet #contact-btn {
    background-color: #4e958d;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    padding: 4% 12%;
}

.footer-custom-wigdet .media-btn {
    margin-top: 12%;
}

#social-btn img {
    max-width: 40px;
}
.media-btn #social-btn {
    font-size: 2.7em;
    margin-right: 5px;
}
.media-btn #social-btn .fa-whatsapp{
	color:#2AB200;
}
.media-btn #social-btn .fa-facebook-official{
	color: #3c5a99;
}


.footer-custom-wigdet .media-btn #social-btn .viber {
    max-width: 39px;
}

.why-mts #why-mts-column .fusion-column-wrapper .imageframe-align-center .fusion-imageframe img {
    width: 329.5px;
}
#how-it-works-images img {
    max-width: 130px;
}
.our-tutors .fusion-column-wrapper .fusion-imageframe img {
    max-width: 170px;
}
#meet-the-tutor-call #tutor_call {
    background: #1fb1b0 none repeat scroll 0 0 !important;
    border: 2px solid #fff !important;
}

/*.slide-content .heading {
    bottom: -5px;
    left: 0;
    position: absolute;
    width: 100%;
}
.slide-content-container {
    height: 80%;
}
.slide-content {
    height: 90%;
}
*/
.grade-levels h2 {
    border-bottom: 1px solid #ddd;
    line-height: 2.2 !important;
    padding-right: 20px;
    padding-top: 30px;
}
.grade-main-image{background-size:100%;}
.slideourtutor {
    padding-top: 270px;
    position: absolute;
    color:#102451;
}

.main-image .slideourtutor {
    padding-top: 245px;
}
.slideourtutor > ul {
    margin-left: 0;
    padding-left: 4px;
}

.slideourtutor ul li {
    float: left;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    list-style: outside none none;
    margin-bottom: 10px;
    width: 94%;
}
.slideourtutor ul li span {
    background:rgba(255,255,255,1);
    box-shadow: 0 2px 4px 1px #c7c7c7;
    color: #102451;
    display: inline-block;
    margin-bottom: 3px;
    padding: 3px 7px;
    float:left;
}
.slideourtutor ul li i {
    float: left;
    padding-top: 7px;
    vertical-align: bottom;
    width: 32px;
}
.slideourtutor ul li #start-btn {
    background: #102451 none repeat scroll 0 0;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px;
    width: auto;
}
#start-btn > a {
    color: #fff !important;
}
/*MOBILE HIDE STYLES*/
#meet-the-tutor-call {
    display: none;
}
.desktop-hidden{display:none;}
.fusion-secondary-header{
	border-bottom: none;
	border-top:none;
}
.fusion-secondary-header .fusion-contact-info{
padding: 1em 10px;
}

/*MOBILE HIDE STYLES ENDS*/
/*Title Content*/

.custom_heading {
    display: inline;
    margin: 0 !important;
    width: 100%;
}
.custom_heading h3 {
    display: inline-block;
    float: none;
    font-size: 22px !important;
    text-align: center;
    width: 100%;

    white-space: normal;

}
/*Testimonials*/
.testimonials{margin-bottom:20px;}
.testimonials_content::before {
    background: transparent none repeat scroll 0 0;
    border-bottom: 30px solid transparent;
    border-right: 40px solid #fff;
    content: "";
    margin-left: -27px;
    position: absolute;
    top: 38px;
}
.testimonials_content {
   background: #fff none repeat scroll 0 0;
    margin-left: -5px;
    padding-bottom: 15%;
    padding-right: 8px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.testimonials_content > h3 {
    margin-top: 0;
    padding-left: 14px;
    color: #1bb3af !important;
}
.testimonials_content > p {
    margin: 0;
    padding-left: 13px;
padding-bottom: 3px;
    line-height:1.5;
color:#737373;
}
.testi {
    border-top: 1px solid #ddd;
    padding-top: 5px;
color:#737373;
}
.testimonial_section .fusion-column.content-box-column {
    clear:none !important;
}

/*Styles added by KHAN ENDS*/

.copyright_left {
    float: left;
    width: 50%;
}
.copyright_right {
    float: left;
    width: 50%;
}
.copyright_right ul li {
    float: left;
    margin: 0 25px;
    text-align: right;
}
.copyright_right > ul {
    display: inline-block;
    float: right;
    list-style: outside none none;
    margin: 0;
    padding-left:0;
}
/*Footer Section End*/
/*Menu styles*/
.get-started span {
    border: 2px solid #2bd8ca;
    border-radius: 4px;
    padding: 5px 10px;
    color: #102451;
    font-weight: bold
}
.fusion-megamenu-wrapper {
    padding: 0;
}
.fusion-megamenu-wrapper .row {
    margin: 0;
}
.fusion-megamenu-wrapper .fusion-megamenu-submenu {
    padding: 0;
}
.fusion-megamenu-title {
    padding: 0;
}
.fusion-megamenu-title a {
    color: white !important;
    font-size: 17px !important;
    font-weight: normal;
    margin-left: 24px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-top: 20px;
    border-bottom: 1px solid #9EC6AE;
    padding-left: 10px;
}
.fusion-megamenu-title:hover::before, .current-menu-item .fusion-megamenu-title::before {
    width: 24px;
}
.fusion-megamenu {
    background-color: rgba(97, 189, 171, 0.87);
    box-shadow: none;
}
.fusion-megamenu-wrapper .fusion-megamenu-border {
    border: medium none;
}
.fusion-megamenu-title > a:hover, .current-menu-item .fusion-megamenu-title > a {
    background: rgba(142, 191, 161, 0.80) none repeat scroll 0 0;
}
.fusion-megamenu-title > a{
 transition: 0.4s ease-in-out 0s;
-moz-transition: 0.4s ease-in-out 0s;
-webkit-transition: 0.4s ease-in-out 0s;
-ms-transition: 0.4s ease-in-out 0s;
}
.fusion-megamenu-title::before {
    background: #B41B20;
    content: "";
    display: block;
    left: 0;
    padding: 30.5px 0;
    position: absolute;
    width: 0;
    transition: 0.4s ease-in-out 0s;
-moz-transition: 0.4s ease-in-out 0s;
-webkit-transition: 0.4s ease-in-out 0s;
-ms-transition: 0.4s ease-in-out 0s;
}

.fusion-mobile-current-nav-item > a::before, .fusion-mobile-nav-item > a::before {
    background: #b41b20 none repeat scroll 0 0;
    content: "" !important;
    display: block;
    height: 50px;
    left: -1px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 99999;
    transition: 0.6s ease-in-out 0s;
-moz-transition: 0.6s ease-in-out 0s;
-webkit-transition: 0.6s ease-in-out 0s;
-ms-transition: 0.6s ease-in-out 0s;
}
.fusion-mobile-current-nav-item > a::before, .fusion-mobile-nav-item > a:hover:before  {
    width: 25px;
}
.fusion-megamenu-holder {
    border: 0 none;
}

.fusion-last-menu-item .menu-text {
    color: transparent;
    visibility: hidden;
}
.fusion-last-menu-item .menu-text .fusion-megamenu-icon {
    color: #747474;
    display: block;
    font-size: 23px;
    margin: 0;
    text-align: right;
    visibility: visible;
}
.fusion-last-menu-item .menu-text .fusion-megamenu-icon::before {
    bottom: 4px;
    content: "Menu";
    font-size: 16px;
    padding-right: 12px;
    position: relative;
}
/*Media Queries*/


@media screen and (min-width: 1200px) {
.fusion-header {
    height: auto !important;
}

.fusion-header {
    border: 0 none !important;
    padding-right: 0;
}
.fusion-header-wrapper .fusion-row {
    max-width: 100% !important;
}
.fusion-logo {
    left: -65px;
    position: absolute;
    top: 15px;
}
}
@media screen and (max-width: 1200px) {.remove-spacing {
    padding-top: 0 !important;
}}
@media screen and (max-width: 880px) {
.testimonial_section .fusion-column.content-box-column {
    width: 100% !important;
}

.testimonials_content {}

.copyright_left {
    background: #fff none repeat scroll 0 0;
    display: table-footer-group;
    float: none;
    line-height: 45px;
    text-align: center;
    width: 100%;
}

.copyright_right {
    display: table-header-group;
    float: none;
    text-align: center;
    width: 100%;
}

.fusion-footer-copyright-area {
    padding: 10px 0 0 !important;
}
.fusion-copyright-notice > div {
    display: table;
    width: 100%;
}

.copyright_right > ul {
    float: none;
}
}
@media screen and (max-width: 800px) {
.fusion-header-v2 .fusion-secondary-header:first-child{
	display:block;
}

.fusion-mobile-nav-holder ul #mobile-menu-item-1657, .fusion-mobile-nav-holder ul #mobile-menu-item-1614 {
    display: none;
}
.fusion-sticky-shadow .fusion-mobile-nav-holder ul #mobile-menu-item-1657, .fusion-sticky-shadow .fusion-mobile-nav-holder ul #mobile-menu-item-1614 {
    display: block;
}
#mobile-menu-item-1615 > a {
    display: none;
}

}
@media screen and (max-width: 600px) {

#meet-the-tutor-call {
    display: block;
}
#why-mts-column p
{
min-height:150px;
height:100% !important;
}
.desktop-hidden{display:block;}
.slideourtutor ul li span#start-btn{
display: none;
}
.slideourtutor ul {
    padding: 0;
}
.slideourtutor ul li span {
background:rgba(255,255,255,0.60);
display:block;
}

.slideourtutor {
    left: 5px;
    width: 98%;
}
}
@media screen and (max-width: 480px) {
.slideourtutor ul li {font-size:16px;}
/*.slide-content .heading {
    left: 7px;
    bottom: -12%;
}
.slide-content {
    height: 82%;
}*/
.slideourtutor {
    padding-top: 170px;
}
.main-image .slideourtutor {
    padding-top: 225px;
}
.grade-levels .content-container {
    padding-left: 10px !important;
    padding-top: 0;
}
.grade-levels h2 {
    line-height: 1.5 !important;
    padding-right: 20px;
    padding-top: 25px;
}
.grade-levels .image {float:left; position: relative !important;}
.custom_heading h3{ font-size: 20px !important;}
}



	.fusion-row yahya{margin-top: 10%;}
.remove_min_height .fusion-column-wrapper{min-height: 0px !important;}
#pricing_col2 .upper_level {
    min-height: 160px;
}
	
#wrapper .post-content .content-box-heading {
    margin-top: 4px !important;
}

@media only screen and (max-width: 640px){
#wrapper .content-boxes-icon-boxed .content-box-column, #wrapper .content-boxes-icon-on-top .content-box-column {
    margin-bottom: 5px !important;
}
#wrapper .post-content .content-box-heading {
    font-size: 14px !important;
    
}
.mobilehaddispl{display: inline;}
.fusion-fullwidth-2 {background-color:#FFF !important;}
}


@media only screen and (max-width: 800px){
#pricing_col1, #pricing_col2 {
    box-shadow: none;
}
.mobilehaddispl{display: inline !important;}
.cllwq {
      margin-top: 1px;
	       padding-top: 0px !important; 
}

.needmobile1, .needmobile2, .needmobile4, .needmobile7, .needmobile8, .needmobile9
{display: none;}
.needmobile10{
border-bottom: 1px solid;
    margin-bottom: 60px  !important;
}
.needmobile11{
border-bottom: 1px solid;
    margin-bottom: 60px  !important;
}
.boclasses{margin-right:0px;}
.boclasses1{margin-right: 12%;}
.displclas{display: none;}
.cllwq{margin-top:10px;}
.mobilehaddispl{display: none;}
}

.mobilehaddispl{display: none;}
.needmobile8{display:none}


@media only screen and (max-width: 800px){
.fullwidth-box{

  background-size: 187% !important;
}	
.slideourtutor ul li {
    width: 86% !important;
    margin-left: 7% !important;
}
}	