body { line-height: 1.2; padding: 0px; margin: 0px; font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif; font-size: 16px; font-weight: 400; color: rgba(0, 0, 0, 0.87);
	text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: "liga" on;  }
.font1 { font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif; }
.font2 { font-family: Arvo, Times, "Times New Roman", serif; }

body.frontend { padding: 0px }
div.clear { clear: both; }

.inner { width: 1440px; margin: 0px auto; position: relative; height: 100% }
.inner.narrow { width: 810px; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.central { margin: 0px auto; }
.valign { position: relative; top: 50%; transform: translateY(-50%); height: auto; }

h1 { font-size: 4.5em } /* 72 */
h2 { font-size: 2.25em; margin-bottom: 20px; } /* 36 */
h3 { font-size: 1.5em } /* 24 */
h4 { font-size: 1.125em; color: #9b9b9b; /* 18 */
     text-transform: uppercase; font-family: Arvo, Times, "Times New Roman", serif; } 
p { font-size: 1.125em; color: rgba(0, 0, 0, 0.7); margin-bottom: 10px; }
.frontend a { color: #4891e6; text-decoration: none }

.siderule { position: relative; margin-bottom: 10px;}
.siderule span { background: #ffffff;  position:relative; z-index: 1; padding: 0px 20px; }
.siderule:before { content: ""; border-bottom: 1px solid; border-color: #9b9b9b; width: 70%; position:absolute; top: 50%; left: 15%; z-index: 0; }
.siderule.fullwidth:before { width: 100%; left: 0% }

.smallunderline { position: relative; padding-bottom: 0.5em;}
.smallunderline:after { content: ""; position: absolute; left: 0px; bottom: 0.1em; border-bottom: 2px solid rgba(0, 0, 0, 0.87) ; width: 25px; }

.midunderline { padding-bottom: 0.7em; display: inline-block; position: relative; }
.midunderline:after { content: ""; display: block; position: absolute; left: calc(50% - 7.5px); bottom: 0.3em; border-bottom-color: inherit; border-bottom: 1px solid; width: 15px; }

.header { width: 100%; background: #175091; height: 62px; position: fixed; z-index: 5000 }
.header .logo { z-index: 6000 }
#allcontent { padding-top: 62px; }
.contentwrapper { padding-bottom: 40px; background-color: #f2f2f2 }

.quicklinks, .login { font-size: 20px; }
.quicklinks a, .login a { color: #ffffff; text-decoration: none}

.quicklinks ul { margin-top: 16px; list-style: none; float: right; font-size: 20px;  padding-right: 35px;  border-right: 1px solid #5D84B2;}
.quicklinks ul li { vertical-align: middle; float: left; margin-left: 35px; display: inline-block;   }
.quicklinks .selected { border-bottom: 4px solid #ffffff; padding-bottom: 17px;}

.quicklinks .alert { background: #ea3031; border-radius: 5px; vertical-align: top; margin-top: 4px; text-align: center; width: 18px; height: 18px; display: inline-block; font-size: 0.7em}

.quicklinks.additional { display: none; }

.login, .loggedin { float: right; height: 100%; position: relative; }
.login a, .loggedin a, .menubutton a { padding: 16px 30px; font-size: 20px; display: block; vertical-align: middle; height: 100%; float: left; font-weight: 700}
.loggedin .username { max-width: 105px !important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block; width: auto !important}
.loggedin a { color: white; margin-left: 25px; }
.loggedin a.hasdownlink:before { content: ""; position: absolute; left: 0px; top: 17px; width: 22px; height: 22px; background-image: url('../../images/icons/user.html'); background-size: 22px; }
.loggedin a.hasdownlink:after { top: calc(50% - 6px); }
.loggedin .dropdown { position: absolute; width: 200px; right: 0px; top: 62px; background: #175091; padding: 10px 20px; z-index: 3000; }
.loggedin .dropdown li { list-style: none; clear: both; width: 100%; display: inline-block; position: relative; }
.loggedin .dropdown li a { color: #ffffff; display: block; padding: 4px 0px; margin: 0px; font-size: 0.95em;  }
.loggedin .dropdown li a .newflag { position: absolute; right: 0px; display: inline-block; color: #4891E6; text-transform: uppercase; }
.loggedin .submenu { display: none; }
.loggedin .submenu .heading { border-bottom: 1px solid #4891E6; color: white; text-align: center; padding-bottom: 5px; cursor: pointer}
.loggedin .submenu .heading:before { content: "<"; position: absolute; left: 10px;}


.quicklinks .wallet { position: relative; margin-left: 30px;}
.quicklinks .wallet:before { content: ""; display: inline-block; vertical-align: middle; margin: -2px 5px 0px 0px; width: 32px; height: 32px; background-image: url('../../images/icons/wallet.html'); background-size: 32px; }
.quicklinks .wallet .cta { background: #54ca63; padding: 4px 6px; border-radius: 3px;}

#signupheaderlink, #endsessionlink { background: #54ca63;  }

.col.signup { padding: 30px 30px; width: 430px }
.signup .input input, .signup .input select, .signup .input textarea { width: 100%; }

.logo { margin-left: 0px; margin-top: 7px; height: 49px; position: absolute; }

.banner { width: 100%; margin-bottom: 80px; position: relative; }
.banner .valign { position: relative; top: 0px; transform:  none; height: auto; padding: 80px 0px ;}
.banner.uni.clouds .valign:after { content: ""; height: 1px; width: 100px; display: block; padding-bottom: 30px; }
.banner .inner { color: white; }
.banner.hasvideo .inner { z-index: 10; }
.banner h3 { font-size: 1.5em }
.banner .subtitle { font-size: 1.2em; }

.banner.uni { position: relative; }
.banner.uni:before { z-index: 0; content: ""; background-image: url('../../images/university-landscape.html'); height: 96px; width: 100%; position: absolute; bottom: -43px; background-position: center; background-repeat: no-repeat; }
.banner.uni.clouds:before { background-image: url('../../images/university-landscape-clouds.html'); height: 151px; bottom: -60px; }
.banner.uni.noclouds:before { background-image: url('../../images/university-landscape-noclouds.html'); height: 151px; bottom: -60px; }
.banner.uni.snow:before { background-image: url('../../images/university-landscape-snow.html'); height: 151px; bottom: -60px; }

.banner .bgvideo { position: absolute; top: 0px; width: 100%; z-index: 0; height: 480px; overflow: hidden }
.banner .bgvideo video { max-width: 100%; margin-top: -60px }
.banner .bgvideo img { display: none; }

.templateB .banner { text-align: center; background: #e9f3fb; border-bottom: 2px solid #98a6ad; font-size: 12pt; padding: 30px; }
.templateB p a.selected { color: #444444; text-decoration: underline; }

/* Responsive images for high-res screens */
@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) 
	{ 
		.banner.uni:before { background-image: url('../../images/university-landscape%402x.html'); background-size: 953px 96px; }
		.banner.uni.clouds:before { background-image: url('../../images/university-landscape-clouds%402x.html'); background-size: 953px 151px;  }
		.banner.uni.noclouds:before { background-image: url('../../images/university-landscape-noclouds%402x.html'); background-size: 953px 151px;  }
		.banner.uni.snow:before { background-image: url('../../images/university-landscape-snow%402x.html'); background-size: 953px 151px;  }
	}
@media
	only screen and (-webkit-min-device-pixel-ratio: 3),
	only screen and (   min--moz-device-pixel-ratio: 3),
	only screen and (     -o-min-device-pixel-ratio: 3/1),
	only screen and (        min-device-pixel-ratio: 3),
	only screen and (                min-resolution: 288dpi),
	only screen and (                min-resolution: 3dppx) 
	{ 
		.banner.uni:before { background-image: url('../../images/university-landscape%403x.html'); background-size: 953px 96px; }
		.banner.uni.clouds:before { background-image: url('../../images/university-landscape-clouds%403x.html'); background-size: 953px 151px; }
		.banner.uni.noclouds:before { background-image: url('../../images/university-landscape-noclouds%403x.html'); background-size: 953px 151px; }
		.banner.uni.snow:before { background-image: url('../../images/university-landscape-snow%403x.html'); background-size: 953px 151px; }
	}

.banner.smaller { height: 300px; margin-bottom: 0px }
.banner.smaller .inner { padding-top: 30px }
.banner.smaller h3 { font-size: 36px !important }
.banner.smallest { height: 200px; margin-bottom: 0px }
.banner.smallest .inner { padding-top: 30px }

.banner .breakoutbox { text-align: left; width: 390px; padding: 30px; position: absolute; bottom: -30px; }

a.back { font-weight: bold; margin-left: 30px; color: white; position: relative; margin-left: 15px; }
a.back:before { content: ""; border-left: 2px solid #ffffff; border-bottom: 2px solid #ffffff; width: 8px; height: 8px; position: absolute; left: -12px; top: 8px; transform: rotate(45deg)}

h2.pageheading { font-size: 1.125em; color: #9b9b9b; width: 100%x; border-bottom: 1px solid #cccccc; padding: 20px 0px 20px 0px; margin-bottom: 60px }

.shortcuts { background: #4a4a4a; }
.shortcuts a { display: inline-block; margin: 18px 5%; color: white; font-size: 1.25em; font-weight: 600; }

.frontend .button, .frontend .smallbutton, .frontend .ui-button.button { border-radius: 5px; padding: 14px 20px; margin: 20px 0px; display: inline-block; color: white; font-weight: bold; font-size: 1.25em; text-align: center; border: none; cursor: pointer}
.frontend .ui-button.button .ui-button-text { padding: 0px; }
.frontend .button.ui-widget:focus { font-size: 1.25em } 
.frontend .button .ui-button-icon-left+.ui-button-text { margin-left: 12px; }
.frontend .smallbutton, .frontend .ui-button.smallbutton { font-size: 1.0em; padding: 4px 10px; }
.frontend .smallbutton:focus, .frontend .ui-button.smallbutton:focus { font-size: 1.0em; }
.frontend .darkskybluefill { background: #4891e6; }
.frontend .darkbluefill { background: #152a42; }
.frontend .bluefill { background: #2c5a8f; }
.frontend .pinkfill { background: #ff6f5f; }
.frontend .paleyellowfill { background: #fff6d9; }
.frontend .greenfill { background: #54ca63; }
.frontend .whitefill { background: #ffffff; color: #4891e6; border: 1px solid #4891e6 }
.frontend .button.whitefill { border: 1px solid #cccccc; color: #4891e6;}
.frontend .lightgreyfill { background: #f2f2f2 }
.frontend .lightgreyfill .siderule span { background: #f2f2f2 }
.frontend .lightgreyfill .siderule:before { border-color: #d9d9d9; }

.frontend .button.disabled, button.disabled { opacity: 0.5}
.frontend .button.darkskybluefill:hover { background: #4fa1ff; }
.frontend .button.darkskybluefill.disabled:hover { background: #4891e6; }
.frontend .button.greenfill:hover { background: #62e371; }
.frontend .button.greenfill.disabled:hover { background: #54ca63; }
.frontend .button.whitefill:hover { border: 1px solid #4891e6 }
.frontend .button.whitefill.disabled:hover { border: 1px solid #cccccc }

.haschevron { position: relative; padding-right: 30px !important;}
.haschevron:after, .haschevron.before:before { content: ""; position: absolute; top: 11px; right: 10px; display: block; border-style: solid; border-width: 2px 2px 0 0; transform: rotate(45deg); height: 8px; width: 8px; }
.hasdownchevron:after { transform: rotate(135deg); top: 5px; }
.hasupchevron:after { transform: rotate(-45deg); top: 8px; }
.haschevron.before { padding-left: 30px !important; padding-right: 0px !important }
.haschevron.before:before { right: auto; left: 0px; }
.haschevron.before:after { display: none; }

.frontend .greyicons svg * { stroke: #cccccc;}
.frontend .whiteicons svg * { stroke: #ffffff }
.frontend .blueicons svg * { stroke: #4891e6 }

.frontend .ui-datatable.noborders, .frontend .ui-datatable.noborders thead { border: 0; }
.frontend .ui-datatable.noborders thead th, .frontend .ui-datatable.noborders tbody td { padding: 0 10px 0 0;}
.frontend .ui-datatable.plainheaders thead th { font-weight: normal; color: #9b9b9b; }
.frontend .noalternatingrows .ui-datatable-odd { background: #ffffff; }

.subjectbox { position: relative; width: calc(100% / 3); height: 308px; float: left; vertical-align: middle; text-align: center; cursor: pointer }
.subjectbox h3 { font-size: 30px; color: white; margin: 0px; display: block; }
.subjectbox h3 a { color: inherit; }
.subjectbox a.button { border: 2px solid #ffffff; display: block; width: 60%; margin: 0px auto 20px auto; }
.subjectbox.darkskybluefill a.button:hover { background: #ffffff; color: #4891e6 }
.subjectbox.darkbluefill a.button:hover { background: #ffffff; color: #152a42 }
.subjectbox.pinkfill a.button:hover { background: #ffffff; color: #ff6f5f }
.subjectbox img { margin-top: 20px; }

.subjectbox .subjectboxactive { display: none; }
.subjectbox:hover .subjectboxinitial { display: none; }
.subjectbox:hover .subjectboxactive { display: block; }
.subjectbox.active:after { content: ""; width: 0; position: absolute; left: 50%; transform: translateX(-50%); bottom: -40px; height: 0; border-left: 40px solid transparent; border-right: 40px solid transparent;	border-top: 40px solid #4891E6; }
.subjectbox.darkbluefill.active:after { border-top-color: #152A42 }
.subjectbox.pinkfill.active:after { border-top-color: #FF6F5F }
.subjectboxexternalactive { display: none; width: 100%; background: #dce9fa; padding: 60px 60px;  }
.subjectboxexternalactive.responsive { padding: 60px 40px 40px 40px; }


@media screen and (min-width: 710px)
{
   .subjectboxexternalactive.responsive { height: 0px !important; width: 0px !important; padding: 0px !important; overflow: hidden !important; }
}
@media screen and (max-width: 710px)
{
   .subjectboxexternalactive.full { height: 0px !important; width: 0px !important; padding: 0px !important; overflow: hidden !important; }
}


.manualstars svg { width: 50px; height: 50px; margin: 0px 3px; }
.manualstars .desc { display: none; }
.manualstars a { position: relative; }
.manualstars a:hover .desc { display: inline-block; position: absolute; top: 15px; left: 0px; width: 100%; text-align: center; font-size: 0.8rem; text-transform: lowercase; color: #aaaaaa }
.stars .ui-rating * { display: block; background-image: url('../../images/icons/rating-back.html');  }
.stars .ui-rating .ui-rating-star { margin-right: 1px; }
.reviewintros p { margin: 10px 0px 2px 0px; text-align: left; padding: 0px; font-size: 0.9rem; }

/* Tutor profile cards */
.tutorcard { box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14); margin-bottom: 3px; padding: 20px; position: relative; }
.tutorcard:hover {box-shadow: inset 0px 0px 0px 2px #4891e6; cursor: pointer;  }
.tutorcard.odd { margin-left: -2px; }
.tutorcard .profileimage { display: table-cell; position: relative; text-align: center }
.tutorcard .profileimage img { width: 150px; border: 1px solid #d8d8d8; display: block; }
.tutorcard .profileimage a.buttonlink { width: 150px; padding: 8px 0px; display: inline-block; border: 2px solid #d8d8d8; border-top: none; border-radius: 3px; border-top-left-radius: 0px; border-top-right-radius: 0px; font-weight: 600 }
.tutorcard .profileimage .premiumflag { width: auto; position: absolute; border: none; right: -1px; z-index: 1 }
.tutorcard .pricefrom { position: absolute; right: 20px; font-weight: 700; font-size: 1.25em }
.tutorcard .shortlistmenu { position: absolute; right: 15px; top: 20px; }
.tutorcard .shortlistmenu .dropdown { display: none; width: 150px; font-size: 0.9em; position: absolute; right: 5px; top: 22px; text-align: right; background: #f2f2f2; padding: 5px; border-radius: 5px;  }
.tutorcard .shortlistmenu .dropdown a { display: block; }
.tutorcard .shortlistmenu .dropdown a:hover { color: #444444}
.tutorcard .profiledata { display: table-cell; vertical-align: top; width: 100%; text-align: left; padding-left: 30px; }
.tutorcard .profiledata .name { font-size: 1.25em; font-weight: 700; margin-bottom: 10px; float: left; }
.tutorcard .profiledata .name a { color: inherit; }
.tutorcard .profiledata .unavailable, .tutorcard .profiledata .shortlisted { background: red; width: auto; display: inline-block; padding: 2px 8px; border-radius: 5px; margin-left: 10px; margin-top: 1px }
.tutorcard .profiledata .unavailable p, .tutorcard .profiledata .shortlisted p { color: white; margin: 0px; font-size: 0.9em;}
.tutorcard .profiledata .shortlisted { background: #54CA63 }
.tutorcard .profiledata .subjects p { font-size: 0.9em; color: #8b8b8b; margin-bottom: 5px; }
.tutorcard .profiledata .subjects p a { text-decoration: none }
.tutorcard .profiledata .statement { margin-top: 15px; }
.tutorcard .profiledata .statement p { color: rgba(0, 0, 0, 0.7);  }
.tutorcard .ratings { margin-top: 20px; }
.tutorcard .ratings * { display: inline-block;}
.tutorcard .ratings script { display: none;}
.tutorcard .ratings .rating { color: white; margin-right: 3px; display: inline-block; background: #ffb400; font-weight: 600; font-size: 18px; width: 32px; height: 22px; text-align: center; border-radius: 4px; }
.tutorcard .ratings .rating a { color: white; }
.tutorcard .ratings .stars { padding-right: 20px; padding-top: 3px; font-size: 0px}
.tutorcard .ratings .stars.manualstars svg { width: 22px; height: 22px; top: 3px; margin: 0px 2px 0px 0px; display: inline-block; position: relative; }
.tutorcard .ratings .stars.manualstars svg polygon { fill: #ffb400; }
.tutorcard .ratings .stars.manualstars .unselected svg polygon { fill: #cccccc; }

.tutorcard .ratings .stars .inputRegion { margin-bottom: 5px; }
.tutorcard .ratings .stars p { font-size: 18px; margin-left: 5px}
.tutorcard .ratings .likes { padding-left: 40px; }
.tutorcard .ratings .stars + .likes { padding-left: 40px; border-left: 1px solid #cccccc; }
.tutorcard .ratings .likes p { color: #50bf5f; font-weight: 400; position:relative; margin-bottom: 5px }
.tutorcard .ratings .likes p:before { content: ""; background-image: url('../../images/icons/tick_nocircle.html'); background-size: 20px; background-repeat: no-repeat; width: 20px !important; height: 18px; display: inline-block; position:absolute; top: 3px; left: -33px; }
.tutorcard .ratings .likes span { font-weight: normal }

.tutorcard .guarantee { cursor: pointer; padding-right: 20px; }
.tutorcard .guarantee * { display: inline-block; vertical-align: middle; color: #50bf5f;  }
.tutorcard .guarantee p { margin: -4px 0px 0px 5px; } 

.availablevideolink { cursor: pointer; float: left; margin: 5px; padding: 5px 10px 5px 15px; background-color: #e0f3fe; border-radius: 10px; color: #8b8b8b; }
.availablevideolink img { margin-left: 30px; }

.tutorcard.thin { box-shadow: none; padding: 20px 0px}
.tutorcard.thin:hover { background: none; }
.tutorcard.thin .profileimage { display: block; width: 200px; }
.tutorcard.thin .profileimage a.buttonlink { display: block; margin-bottom: 20px; width: 200px;}
.tutorcard.thin .profiledata { display: block; padding-left: 0px;}

.tutorcard.messageheader { background: #ffffff; border: 1px solid #cccccc; margin: 0px; box-shadow: none; padding: 15px; }
.tutorcard.messageheader .profileimage { width: 80px; border-radius: 50%; }
.tutorcard.messageheader .profiledata { padding-left: 20px }
.tutorcard.messageheader .profiledata .name { margin-bottom: 5px;}
.tutorcard.messageheader:after { content: "See profile >"; position: absolute; right: 5px; bottom: 5px; color: #aaaaaa }
.tutorcard.messageheader .availablevideolink { cursor: pointer; padding-right: 20px; margin-top: 20px; margin-bottom: 10px}
.tutorcard.messageheader .ratings { margin-left: 5px; margin-top: 0px}

.tutorcard.tutorcard-small { padding: 0; box-shadow: none; }
.tutorcard.tutorcard-small:hover { cursor: default; box-shadow: none; background: none; }
.tutorcard.tutorcard-small .profileimage img { display: block; width: 100px; border-radius: 50%; }
.tutorcard.tutorcard-small .profileimage .profilelink-mobile { display: none; width: auto; margin-top: 5px; padding: 0; font-weight: normal; border: none; }
.tutorcard.tutorcard-small .profiledata { padding-left: 20px; }
.tutorcard.tutorcard-small .profiledata .name { margin-bottom: 5px; float: none; }
.tutorcard.tutorcard-small .profiledata .bookinglink-mobile { display: none; margin-top: 8px; }
.tutorcard.tutorcard-small .pricefrom {position: relative; right: 0; font-size: 1em; }
.tutorcard.tutorcard-small .ratings { margin: 5px 0 20px; }
.tutorcard.tutorcard-small .ratings.ratings-mobile { display: none; }

/* Section with updates for the user*/
.updatessection {min-height: 100px}

/* For use in snippets such as id 200. */
.greentext { color: #50bf5f; }

.answercard { position: relative; padding: 40px 0px 20px 0px; border: 2px solid #ffffff; border-bottom: 2px solid #cccccc}
.resultssummary + .answercard  { padding-top: 10px; }
.answercard:hover { cursor: pointer; border: 2px solid #4891e6 } 
.answercard .qa { position: relative;  }
.answercard .qa .share img { height: 24px; }
.answercard .answer { margin: 10px 0px 10px 0px; padding-bottom: 20px; max-height: 100px; overflow: hidden; }
.answercard .answer:after { content: ""; background: #ffffff; position: absolute; bottom: 0px; width: 100%; height: 30%; display: block; 
         background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
         background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
         background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
         background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
         background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
   }
.answercard .readmore { position: absolute; bottom: -20px; right: 10px; background: #ffffff; display: block; z-index: 1000;}
.answercard .profileimage { float: left; margin-right: 5px; position: relative; text-align: center }
.answercard .profileimage img { width: 55px; border-radius: 50%; display: block; }
.answercard .answermeta .meta { float: left; max-width: calc(100% - 260px); }
.answercard .answermeta .time { margin-bottom: 5px }

.answercard .stats { float: right; margin-right: 10px; height: 40px; }
.answercard .stats .views { display: inline-block; }
.answercard .stats .likes { cursor: pointer; display: inline-block; position: relative; padding: 7px 20px 7px 40px; margin-left: 10px; }
.answercard .stats .likes:before { content: ""; background-image: url('../../images/icons/thumbsup.html'); display: block; position: absolute; width: 30px; height: 30px; left: 5px; top: 1px}
.answercard .stats .likes.liked { cursor: pointer; border: 1px solid #4891E6 }
.answercard .stats .likes.liked:before { background-image: url('../../images/icons/thumbsup-blue.html');  }
.answercard .stats .likes:disabled { opacity: 1; cursor: initial}
.answercard .stats .likes.liked:hover, .answercard .stats .likes:disabled:hover { border: 1px solid #cccccc }

.answercard .stats.top { margin: -20px 10px 20px 40px;}
.answercard .stats.bottom { position: absolute; right: 0px; bottom: 40px; }

.answercard.singleanswer { border: none; border-bottom: 1px solid #cccccc; margin-bottom: 70px; }
.answercard.singleanswer h3 { font-size: 2.5em; }
.answercard.singleanswer:hover { border: none; border-bottom: 1px solid #cccccc;  cursor: initial }
.answercard.singleanswer .answer { max-height: none; }
.answercard.singleanswer .answer:after { display: none; }

.answercard.answercard-tutordetails { padding: 20px 0; }
.answercard.answercard-tutordetails:hover { cursor: default; border: 2px solid #ffffff; border-bottom: 2px solid #cccccc; }
.answercard.answercard-tutordetails .answer { max-height: none; }
.answercard.answercard-tutordetails .answer:after { display: none; }
.answercard.answercard-tutordetails .answer .answertextfull { display: none; }

.linkbar { border-bottom: 1px solid #cccccc; margin-bottom: 30px; }
.linkbar a { padding: 0px 30px 10px 30px; color: inherit; display: inline-block; }
.linkbar a.selected { border-bottom: 2px solid #4891E6; color: #4891E6 }

.linkbartype2 { margin: 30px 0px 40px 0px; width: 100%; display: table; border-collapse: seperate; border-spacing: 40px 0px; }
.linkbartype2.left { width: auto; border-spacing: 0px; }
.linkbartype2.left .spacer { width: 40px; border: none; cursor: default;}
.linkbartype2 a { white-space: nowrap; display: table-cell; text-align: center; color: #9b9b9b; text-transform: uppercase; font-size: 1.1em; font-weight: 600; padding: 20px 20px; border-bottom: 1px solid #d9d9d9 }
.linkbartype2 a.selected { border-bottom: 2px solid #4a90e2; color: #4a90e2 }


.seefulldetailsresplink { display: none; }

.banner.tutorlisting a.darkskybluefill { background: #6AA5E9 }
.banner.tutorlisting .inner p { max-width: 550px; margin: 0px auto; }
.banner.tutorlisting .inner:before { content: ""; background-image: url('../../images/icons/tutor_listing_left.html'); width: 223px; height: 184px; position: absolute; left: -200px; top: 30%;  }
.banner.tutorlisting .inner:after { content: ""; background-image: url('../../images/icons/tutor_listing_right.html'); width: 316px; height: 356px; position: absolute; right: -300px; top: 60px; }


.subjectlevelfilters { background: #ffffff; border-radius: 4px; border: 3px solid #4891E6; padding: 15px 22px 15px 22px; position: relative;}
.tutorlistingsouter .subjectlevelfilters { top: -30px; width: 1294px; margin: 0px auto; }
.subjectlevelfilters .label { text-align: left; }
.subjectlevelfilters .inputRegion { width: calc(50% - 106px); float: left; margin: 0 22px;}
.tutorlistingsouter .subjectlevelfilters .inputRegion { width: calc(50% - 116px); }
.subjectlevelfilters .inputRegion select { width: 100% }
.subjectlevelfilters select { background: #ffffff; }
.subjectlevelfilters .filters { position: absolute; right: 20px; top: 26px; width: 140px; padding: 5px 0px; text-align: center; z-index: 2; }
.subjectlevelfilters .filters:before { content: "More " }
.subjectlevelfilters .filters.open:before { content: "Fewer " }
.subjectlevelfilters #extrafilters { display: none; width: 100%; float: left;}
.subjectlevelfilters #extrafilters hr { margin: 18px 145px 10px 22px; width: calc(100% - 167px); height: 1px; border: 0; border-top: 1px solid #cbcbcb; float: left; }
.subjectlevelfilters #extrafilters .infoPanelsWrapper { float: left; }
.subjectlevelfilters #extrafilters .infoPanel { margin-top: 10px; font-size: 16px; line-height: 20px; }
.subjectlevelfilters #extrafilters .infoPanel h1 { font-size: 16px; }
.subjectlevelfilters #extrafilters .infoPanel .guarantee * { display: inline-block; vertical-align: middle; font-size: 14px; color: #50bf5f; }
.subjectlevelfilters #extrafilters .infoPanel .guarantee img { width: 20px; height: 20px; }
.subjectlevelfilters #extrafilters .infoPanel .guarantee p { margin: 0 0 0 2px; }
.subjectlevelfilters #extrafilters .infoPanel > p { margin-top: 7px; font-size: 13px; margin-bottom: 0; }
.subjectlevelfilters #extrafilters .infoPanel a { font-size: 13px; color: rgba(0, 0, 0, 0.7); text-decoration: underline; }
.subjectlevelfilters #extrafilters .infoPanelMobile { display: none; }
.subjectlevelfilters #extrafilters .actionButtons { display: none; }
.tutorlistingsouter { background: #f2f2f2; margin-top: -30px; }
.col.dblcol.tutorlistings { background: #ffffff; border-top-left-radius: 4px; border-top-right-radius: 4px;  position: relative; }
.tutorlistingsouter .col { margin: 0px 15px; }
.tutorlistingsouter .pagination { background: #f2f2f2; margin: 0px; padding: 60px 0px 30px 0px; }
.tutorlistings .resultssummary { text-align: left; }
.tutorlistings .resultssummary .count { background: #e0f3fe; padding: 10px 20px; display: inline-block; margin: 15px; border-radius: 10px; position: relative; padding-right: 50px;  }
.tutorlistings .resultssummary .count p { padding: 0px; margin: 0px; color: #6191c5; }
.tutorlistings .resultssummary .count p .help { position: absolute; top: 10px; right: 10px; background: none; border: 2px solid #b3bec4; color: #b3bec4; height: 21px; width: 21px; font-weight: 900; }
.tutorlistings .resultssummary .nomatch { padding: 20px; }
.tutorlistingsouter .righthandpanel { text-align: left; }
.tutorlistingsouter .righthandpanel .toppanel { background: #ffffff; border: 2px solid #d9edcc; }
.tutorlistingsouter .righthandpanel .recommended { width: 150px; margin: 0px auto; display: block; margin-top: 20px; }
.tutorlistingsouter .righthandpanel .headline { font-size: 2rem; text-align: center; margin: 10px 10px;}
.tutorlistingsouter .righthandpanel .needhelp { border-top: 1px solid #d9edcc; background: #fafafa; padding: 20px; font-size: 1.2rem; } 
.tutorlistingsouter .righthandpanel ul { list-style: none; margin: 10px 20px; }
.tutorlistingsouter .righthandpanel ul li { padding: 5px 0px 5px 28px; position: relative;  }
.tutorlistingsouter .righthandpanel ul li:before { content: ""; background-image: url('../../images/icons/tick-yellow.html'); width: 18px; height: 16px; position: absolute; left: 0px; top: 50%; transform: translateY(-50%) }
.tutorlistingsouter .righthandpanel .tutorfaqs { margin-top: 20px; }
.tutorlistingsouter .righthandpanel .haschevron.before { padding-left: 20px !important }
.tutorlistingsouter .righthandpanel .haschevron.before:before { top: 7px; border-color: #2091eb }
.tutorlistings .subjectlevelfilters { border: 3px solid #EFEFEF }
.tutorlistings .results { background: #F2F2F2; }
.tutorlistings .results .tutorcard { background: #ffffff }

.tutordetails { background: white; margin-top: 0px; padding: 0px 30px 30px 30px;}
.tutordetails h4 { padding: 50px 0px 15px 0px }
.tutordetails h4:first-child { padding-top: 30px; }
.tutordetails p + h4 { padding-top: 40px; }
.tutordetails table { width: 100%; }
.tutordetails #reviews { margin-top: 0px; padding-bottom: 20px }
.tutordetails .reviewssummary { border: 0px; padding: 0px}
.tutordetails .reviewssummary .overallscore { padding-bottom: 10px;}
.tutordetails .reviewslist { margin-top: -30px; }

.tutordetailsheadcard .tutorcard { background: white; box-shadow: none; height: 200px; margin: 0px; border: 1px solid #cccccc}
.tutordetailsheadcard .tutorcard .ratings { position: absolute; bottom: 20px; }

.help { display: inline-block; color: #616160; background: #cccccc; text-align: center; width: 18px; height: 18px; border-radius: 50%; font-weight: bold; cursor: pointer; font-size: 12pt}
.help.inline { margin-left: 5px; position: relative}
.help.light { color: #ffffff}

.rhscolhead { background: #616160; padding: 15px 20px; color: white; position: relative; } 
.rhscolhead .help { position: absolute; right: 10px; top: 10px; }
.rhscolhead p { color: white; }
.lightgrey { background: #f2f2f2; margin-bottom: 40px; }
.lightgrey h3 { margin: 0!important; padding: 33px 0 17px; font-size: 27px; color: #8b8b8b; }
.lightgrey .whatsnextbar { padding: 7px 0 33px; border-bottom: 1px solid #cccccc; }
.lightgrey .whatsnextbar img { display:block; width: 100%; max-width: 330px; margin: auto; }
.lightgrey .padded { padding: 18px 40px 23px; }
.lightgrey .fullformfields { display: none; }
.lightgreypadded { background: #f2f2f2; padding: 20px 20px 20px 20px; margin-bottom: 40px; }
.lightgreypadded .fullformfields { display: none; }
.addtoshortlist { text-align: right; float: right; padding: 10px 20px 10px 20px; }
.addtoshortlist a { position: relative; }
.addtoshortlist a.save:before, .addtoshortlist a.saved:before { content: ""; background-image: url('../../images/icons/bookmark-incomplete.html'); background-repeat: no-repeat; width: 20px; height: 37px; position: absolute; left: -25px; top: -5px; }
.addtoshortlist a.saved:before { background-image: url('../../images/icons/bookmark-complete.html'); }
.addtoshortlist a.saved { color: #aaaaaa }
.addtoshortlist a.saved .link { color: #4891E6 }
.tutoractionbuttons { margin-top: -20px; }

#availablevideolinkandshortlist { background-color: #ffffff; margin: 0px; height: 45px; font-size: 18px; color: rgba(0, 0, 0, 0.7);}
.saveonsmallscreen { display: none; }

.qualificationsPanel .institutionWrapper { margin-bottom: 20px; }
.qualificationsPanel .institutionWrapper .fullWidth { width: 100% !important; }
.qualificationsPanel .institutionWrapper .institutionNameColumn { padding-right: 10px; }
.qualificationsPanel .institutionWrapper .institutionNameWrapper { width: 100%; }
.qualificationsPanel .institutionWrapper .institutionNameWrapper .inputRegion { margin-bottom: 0; }
.qualificationsPanel .institutionWrapper .institutionRemoveColumn { width: 10%; padding-right: 10px; text-align:center; }
.qualificationsPanel .institutionWrapper .qualificationsTable { margin-bottom: 5px; }
.qualificationsPanel .institutionWrapper .qualificationsTable .ui-datatable-data td { vertical-align : top; }
.qualificationsPanel .institutionWrapper .qualificationsTable .nameColumn { width: 34% }
.qualificationsPanel .institutionWrapper .qualificationsTable .levelColumn { width: 24% }
.qualificationsPanel .institutionWrapper .qualificationsTable .mediumColumn { width: 16% }
.qualificationsPanel .institutionWrapper .qualificationsTable .actionColumn { width: 10%; text-align: center; }
.qualificationsPanel .institutionWrapper .qualificationsTable .actionColumn a { display: inline-block; margin-top: 15px; }
.qualificationsPanel .institutionWrapper .qualificationsTable .levelSelect { font-size: 1em; border: 1px solid #a8a8a8;}
.qualificationsPanel .institutionWrapper .qualificationsTable .levelSelect.watermarkSelect { color: #a9a9a9; }
.qualificationsPanel .institutionWrapper .qualificationsTable .levelSelect.watermarkSelect option { color: #313131; }
.qualificationsPanel .addInstitutionButton { float: right; }

.miabhl { background-image: url('../../images/tutor_background.html'); background-size: cover; border-radius: 5px; margin: 15px 0px; color: white; height: 235px; text-align: left; padding: 30px; overflow: hidden; }
.miabhl h2 { color: #ffffff }
.miabhl svg { float: left; margin-right: 30px; margin-bottom: 30px; }
.miabhl p { color: #696e73 }
.tutorlistings .miabhl p { color: #ffffff; }

.seemore, .seeless { font-weight: bold; display: inline-block; margin: 10px 0px; position: relative;  }
.seemore:after { content: ""; position: absolute; right: -20px; top: 7px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent;  border-top: 6px solid #4891e6;}
.seeless:after { content: ""; position: absolute; right: -20px; top: 7px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent;  border-bottom: 6px solid #4891e6;}

.subjectsearchbar { font-size: 18px; }
.subjectsearchbar .levelsearch { margin-left: -4px; display: inline-block; height: 61px; width: 200px; padding-top: 18px; border: none; border-radius: 0px; background: #f7f7f7; color: #8b8b8b; }
.subjectsearchbar .levelsearch:after { color: inherit; }
.subjectsearchbar .levelsearch .dropdown { border: none; top: 60px; left: 0px; width: 100%; position: absolute; z-index: 10000}
.subjectsearchbar input { width: 600px; padding-left: 20px; display: inline-block; height: 61px; border: none; border-radius: 0px; font-size: 1.1em; }
.subjectsearchbar button.subjectsearch { background: #54ca63; display: inline-block; width: 225px; height: 61px; border: none; border-radius: 0px; color: white; }
.subjectsearchbar button.subjectsearch .ui-button-text  { font-size: 19px; } 

.subjectintro { background: #f2f2f2; margin-bottom: 60px;}
.subjectintro .inner { max-width: 1200px; }
.subjectintro .inner, .pageintro .inner { padding: 60px 0px; }
.subjectintro .heading, .pageintro .heading { display: table-cell; font-family: arvo; width: 480px; vertical-align: top; text-align: left; }
.subjectintro .intro, .pageintro .intro { display: table-cell; padding-left: 8%; padding-top: 5px; vertical-align: top; text-align: left; }  

#reviews { padding: 30px 0px 30px 0px; }
#reviews .slide { margin: 10px 0px; }
.review .profileimage { display: table-cell; vertical-align: top; margin-left: 30px;  }
.review .details { display: table-cell; vertical-align: top; }
.review .profileimage img { width: 100px; border-radius: 50%; }
.review .details { text-align: left; padding: 0px 30px 0px 20px; }
.review .heading { font-weight: 400; font-family: Arvo, Times, "Times New Roman", serif; margin-bottom: 10px;}
.review .comment { font-size: 1.125em }
.review .stars { display: block; padding-bottom: 15px; }
.review .reviewby { clear: both; font-size: 1.111em}
.review .reviewby .name { font-weight: 700 }

#reviews .slick-prev, #reviews .slick-next { width: 40px; height: 108px; top: calc(50% - 50px)} 
#reviews .slick-prev:before, #reviews .slick-next:before { content: "<"; transform: scale(1.0,2.0); font-weight: bold;  color: #ffffff; line-height: 50px; height: 54px; width: 40px; background: #4a90e2; display: block; }
#reviews .slick-next:before { content: ">"; padding-left: 2px; }

.reviewslist .review { border-bottom: 1px solid #cccccc; padding: 10px 0px;  }
.reviewslist .review .reviewby { font-size: 1.2em; }
.reviewslist .review .details { padding: 0px; }
.reviewslist .review .profileimage { display: table; margin: 15px 0px 0px 0px; }
.reviewslist .review .profileimage img { width: 50px; display: table-cell; vertical-align: middle; }
.reviewslist .review .profileimage .tutordetails { display: table-cell; padding-left: 15px; font-size: 0.95em; ; vertical-align: middle;  }

.reviewslist .review.tutor .profileimage { display: table-cell; padding: 0px 10px 5px 0px; }
.reviewslist .review.tutor .reviewby { display: table-cell; }

.reviewssummary { border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 15px 0px 12px; }
.reviewssummary .overallscore { font-size: 4em; color: #ffb400; bord1er: 1px solid red; display: inline-block; }
.reviewssummary .reviewcount { font-size: 1.1em; color: #000000; font-style: italic; padding-left: 10px; display: inline-block; }
.reviewssummary .breakdown { float: right; margin: 0px 20px 0px 0px }
.meter { display: inline-block; vertical-align: middle; background: #eaeaea; width: 100px; height: 16px; margin-bottom: 2px; position: relative; }
.meterbar { background: #ffb400; height: 16px; }
.meterlabel, .meterscore {display: inline-block; padding: 0px 2px; font-size: 14px; color: rgba(0, 0, 0, 0.7); }
.meterlabel a, .meterscore a { color: #136fd2; }
.meterlabel { }
.meterscore {  }

.privatefield { color: green; margin-left: 5px; }

.tutorquotes { margin-bottom: 50px; }
.tutorquotes .col1, .tutorquotes .col2 { display: inline-block; width: 484px; vertical-align: top;}
.tutorquotes .col1 { margin-right: 30px; }
.tutorquotes .tutorquote { background: #f2f2f2; padding: 30px 30px 40px 30px; margin-bottom: 30px; text-align: left; }
.tutorquotes .tutorquote h5 { font-size: 1.25em; font-weight: 700; margin-bottom: 10px; }

.teamprofiles .profile { display: table; width: 700px; margin: 60px auto; }
.teamprofiles .profile .image, .teamprofiles .profile .text { display: table-cell; vertical-align: top; }
.teamprofiles .profile .image img { width: 300px; border-radius: 50%; }
.teamprofiles .profile .text { text-align: left; padding-left: 90px;}
.teamprofiles .profile h5 { font-size: 2em; font-family: arvo; color: rgba(0, 0, 0, 0.87); }
.teamprofiles .profile h6 { font-family: arvo; color: #9b9b9b; margin-bottom: 10px;}

.howitworks { max-width: 810px; margin: 0px auto; }
.howitworks .col { max-width: 300px; margin: 0px 50px; position: relative;  }
.howitworks .col h3, .howitworks .col p, .howitworks .col .action { text-align: left; }
.howitworks .step { margin-bottom: 60px; }
.howitworks .step.even .col:first-child { float: right;}
.howitworks .step .numbercircle { position: absolute; left: -55px; top: 3px; text-align: center}
.howitworks .step h3 { font-family: arvo; font-size: 2.5em; margin-bottom: 10px;}
.howitworks .step img { border-radius: 50%; border: 1px solid #cccccc; width: 300px; }
.howitworks .step a { width: 260px; }

.modalinner.signup { margin: 0px auto; }
.alreadyhaveaccount { border-top: 1px solid #cccccc; padding: 15px 0px 5px 0px; text-align: center }

.pricing { margin-top: 140px;  }
.pricing .col { margin: -60px 15px 30px 15px; background: #ffffff  }
.pricing .col .heading { height: 250px; padding: 0px 80px; }
.pricing .col .heading * { color: white; }
.pricing .col { border: 1px solid rgba(0, 0, 0, 0.14);  }
.pricing .col .body { padding: 0px 30px; height: 350px; position: relative; }
.pricing .col table { margin: 20px auto; width: 100%; }
.pricing .col td { text-align: left; padding: 10px 0px; font-size: 1.2em }
.pricing .col td:first-child { width: 300px; padding-right: 20px; }
.pricing .col:nth-child(2) td:nth-child(2) { width: 100px;}
.pricing .col td:nth-child(2) { text-align: right; }
.pricing .col a.button { position: absolute; left: 30px; bottom: 10px; width: calc(100% - 60px) !important; }

.numbercircle { margin-bottom: 10px; font-size: 24px; font-weight: 700; width: 40px; height: 40px; vertical-align: middle; text-align: center; line-height: 40px; color: white; border-radius: 50% }
.center .numbercircle { margin-left: auto; margin-right: auto; }

.icon { display: block; margin-bottom: 10px;  }
.icon svg { height: 100px;  }
.icon.small { display: inline-block; vertical-align: middle; width: 45px; margin: 0px 20px 0px 0px; text-align: right}
.icon.small svg { height: 36px; width: auto  }
.icon.payg svg { width: 100px; }
.icon.payg svg #Oval-96 { fill: #ffffff; }
.newtotutoring p { display: inline-block; vertical-align: middle; max-width: 320px}
.newtotutoring .row { margin: 0px 0px 20px 0px;}


.lineseitherside { overflow: hidden; text-align: center; } 
.lineseitherside:before,
.lineseitherside:after { background-color: #A6A6A6; content: ""; display: inline-block; height: 1px; position: relative; vertical-align: middle; width: 5em; }
.lineseitherside:before { right: 0.5em; margin-left: -50%; } 
.lineseitherside:after { left: 0.5em; margin-right: -50%; }

.sublabel { font-size: 0.9em; }
.addstudentlink, .adddatelink  { position: relative; padding-left: 27px; font-weight: bold; top: 5px; color: #136FD2 !important;}
.addstudentlink:before { content: ""; background-image: url('../../images/icons/add_child.html'); background-repeat: no-repeat; width: 25px; height: 20px; left: 0px; top: 1px; position: absolute; }
.adddatelink  { padding-left: 35px; padding-bottom: 10px; display: inline-block; }
.adddatelink:before { content: ""; background-image: url('../../images/icons/add_date.html'); background-repeat: no-repeat; width: 30px; height: 20px; left: 0px; top: -1px; position: absolute; }

.privacy, .inputfieldinfo { font-size: 0.7em; text-align: left; margin: 0px 0px 0px 0px }
.inputfieldinfo p { margin-bottom: 0px; padding-bottom: 5px}
.privacy img { float: left; width: 13px; margin: -2px 5px 0px 0px}
.terms { font-size: 0.9em; }

.footer { background: #152a42; width: 100%; color: white;  }
.footer .inner { padding: 60px 0px;  }
.footer .column { float:  left; width: 25%; min-width: 200px }
.footer svg path { fill: white }
.footer p { color: inherit; margin: 0px 0px 10px 0px; padding: 0px; }
.footer p a { color: inherit; text-decoration: none; }
.footer p a:hover { color: inherit; text-decoration: underline; }
.footer p.linkheader { font-weight: 700 }
.footer .associations { text-align: right }
.footer img { margin-bottom: 20px }
.footer .social img { margin: 10px 0px 20px 14px }

.subfooter { width: 100%; margin: 0px auto; position:relative; background: #101f30; padding: 60px 10px; }
.subfooter p, .subfooter p a { color: white;  text-decoration: none; }

.cookiewarning { opacity: 0.97; position: fixed; top: 62px; width: 100%; background: #444444; z-index: 1000; padding: 10px 0px}
.cookiewarning.noheader { top: 0px; }
.cookiewarning .inner { max-width: 1000px; margin: 0px auto; }
.cookiewarning .head { color: white; float:left; margin-right: 20px;   }
.cookiewarning p { font-size: 12pt; color: #bbb; margin: 0px; padding: 0px}
.cookiewarning a { color: orange; font-size: 12pt; margin: 0px 0px 0px 10px; padding: 0px}
.cookiewarning a:hover  { color: white; cursor: pointer; }

.frontend .ui-datatable.tutoravailabilitytable { border: none; }
.tutoravailabilitytable.responsive { display: none; }
.frontend .ui-datatable.tutoravailabilitytable .ui-datatable-header{ display: none; }
.frontend .ui-datatable.tutoravailabilitytable table{ table-layout: auto; }
.frontend .ui-datatable.tutoravailabilitytable thead { border: none; }
.frontend .ui-datatable.tutoravailabilitytable thead th { padding: 8px 4px; font-weight: normal; text-align: center; color: #959393; }
.frontend .ui-datatable.tutoravailabilitytable tr.ui-datatable-odd { background: #ffffff; }
.frontend .ui-datatable.tutoravailabilitytable td { padding: 2px 4px; }
.frontend .ui-datatable.tutoravailabilitytable td .ui-state-disabled { opacity: 1; }
.frontend .ui-datatable.tutoravailabilitytable td img { width: 80px; height: 47px; }
.frontend .ui-datatable.tutoravailabilitytable td:first-child { padding: 0 20px 0 0; }
.frontend .ui-datatable.tutoravailabilitytable td:first-child img { width: 135px; }
.frontend .availabilityhoursinput { width: 35px; margin-left: 10px; margin-right: 5px; padding: 4px; text-align: center; border: 2px solid #979797; }

.tutorreqestconfirmation .centeredcol { border-radius: 4px; }
.tutorreqestconfirmation .centeredcol + .centeredcol { margin-top: 10px !important; padding: 30px 40px; }
.tutorreqestconfirmation .centeredcol.borderedcol { border: 1px solid #999999; }
.tutorreqestconfirmation .requestprogressbar { width: 400px; margin: 10px 0 15px; }
.tutorreqestconfirmation h2 { margin-bottom: 30px; color: #5c5c5c; }
.tutorreqestconfirmation .actionbuttons { margin-top: 46px; }
.tutorreqestconfirmation .actionbuttons .button { display: block; width: 60%; margin: 18px auto; }
.tutorreqestconfirmation .actionbuttons .button.ui-state-disabled { opacity: 1; }
.tutorreqestconfirmation .actionbuttons .button.lightgreyfill { color: #5c5c5c; background-color: #e6e6e6; }
.tutorreqestconfirmation .whatsnext { padding: 25px  !important; margin-bottom: 30px !important; }
.tutorreqestconfirmation .whatsnext .wrapper { display: table; width: auto; margin: 0px auto  }
.tutorreqestconfirmation .whatsnext .wrapper h3, .tutorreqestconfirmation .whatsnext .wrapper img { display: table-cell; vertical-align: middle; margin: 0px 30px; }

.tutorcardtutorrequest { position: relative; margin-bottom: 5px; padding: 10px 13px 10px 10px; border: 2px solid #9b9b9b; }
.tutorcardtutorrequest.selected { border-color: #67cc60; background-color: #eaffea; }
.tutorcardtutorrequest .profileimage { display: table-cell; position: relative; text-align: center }
.tutorcardtutorrequest .profileimage .imagewrapper { position: relative; }
.tutorcardtutorrequest .profileimage img { width: 150px; border: 1px solid #979797; display: block; }
.tutorcardtutorrequest .profileimage a.buttonlink { width: 100%; padding: 8px 0; position: absolute; bottom: 0px; left: 0px; color: white; background: rgba(0,0,0,0.2); }
.tutorcardtutorrequest .pricefrom { position: absolute; right: 20px; top: 10px; font-weight: 700; font-size: 0.9em; color: #5c5c5c; }
.tutorcardtutorrequest .profiledata { display: table-cell; vertical-align: top; width: 100%; text-align: left; padding-left: 30px; }
.tutorcardtutorrequest .profiledata .name { font-size: 1.1em; font-weight: 700; margin-bottom: 5px; margin-top: 10px; float: left; }
.tutorcardtutorrequest .profiledata .name a { color: #5c5c5c; }
.tutorcardtutorrequest .profiledata .subjects p { font-size: 0.9em; color: #5c5c5c; margin-bottom: 5px; }
.tutorcardtutorrequest .profiledata .subjects p a { text-decoration: none }
.tutorcardtutorrequest .profiledata .statement { margin-top: 10px; margin-bottom: 15px; font-size: 0.9em; }
.tutorcardtutorrequest .profiledata a.buttonlink { float: left; color: #000000; text-decoration: underline } 
.tutorcardtutorrequest .button { min-width: 120px; margin: 0; color: #5c5c5c; border: 1px solid #b8b8b8; border-radius: 4px; }
.tutorcardtutorrequest .smallbutton { padding: 5px 10px; font-size: 0.9em; }
.tutorcardtutorrequest .smallbutton.ui-widget:focus { font-size: 0.9em !important; }
.tutorcardtutorrequest .smallbutton.greenfill, .tutorcardtutorrequest .smallbutton.greenfill:hover  { color: #fff; background: #64c65d url('../../images/icons/tick_white.html') no-repeat 8px center; padding-left: 30px; background-size: 16px 14px; }

.studentparentavailability .centeredcol + .centeredcol { margin-top: 10px !important; !important; padding: 50px 59px; }
.studentparentavailability .centeredcol:first-child { margin-bottom: 40px !important; }
.studentparentavailability .centeredcol:last-child { margin-bottom: 85px !important; }
.studentparentavailability .centeredcol.borderedcol { border: 1px solid #999999; }
.studentparentavailability .requestprogressbar { width: 90%; margin: 10px 0 15px; }
.studentparentavailability h2 { margin: 0; padding: 10px 10px 10px 50px; color: #050607; font-size: 1.1em; font-weight: 400; text-transform: uppercase; background: transparent url('../../images/icons/calendar.html') no-repeat 10px center; background-size: 27px auto; }
.studentparentavailability .actionbuttons { margin-top: 46px; }
.studentparentavailability .actionbuttons .button { display: block; width: 100%; margin: 18px auto; }
.studentparentavailability .actionbuttons .button.ui-state-disabled { opacity: 1; }
.studentparentavailability .actionbuttons .button.lightgreyfill { color: #5c5c5c; background-color: #e6e6e6; }

.frontend .ui-datatable.studentparentavailabilitytable { border: none; }
.frontend .ui-datatable.studentparentavailabilitytable .ui-datatable-header{ display: none; }
.frontend .ui-datatable.studentparentavailabilitytable table{ table-layout: auto; }
.frontend .ui-datatable.studentparentavailabilitytable thead { border: none; }
.frontend .ui-datatable.studentparentavailabilitytable thead th { padding: 8px 4px; font-weight: normal; text-align: center; color: #959393; }
.frontend .ui-datatable.studentparentavailabilitytable tr.ui-datatable-odd { background: #ffffff; }
.frontend .ui-datatable.studentparentavailabilitytable td { padding: 2px 4px; }
.frontend .ui-datatable.studentparentavailabilitytable td .ui-state-disabled { opacity: 1; }
.frontend .ui-datatable.studentparentavailabilitytable td img { width: 98px; height: 57px; }
.frontend .ui-datatable.studentparentavailabilitytable td:first-child { padding: 0 10px 0 0; }
.frontend .ui-datatable.studentparentavailabilitytable td:first-child img { width: 160px; }
.frontend .studentparentavailabilitytablenav { display: table; width: 100%; }
.frontend .studentparentavailabilitytablenav div { display: table-cell; vertical-align: middle; }
.frontend .studentparentavailabilitytablenav div:first-child { width: 180px; padding-left: 17px; }
.frontend .studentparentavailabilitytablenav div:last-child { padding-right: 10px; }
.frontend .studentparentavailabilitytablenav div:last-child .ui-commandlink { color: #9c9893; }
.frontend .studentparentavailabilitytablenav div:last-child .ui-commandlink.ui-state-disabled { opacity: 1; }
.frontend .studentparentavailabilitytablenav div:last-child .ui-commandlink:first-child:before { content: ""; display: inline-block; width: 9px; height: 11px; margin-right: 5px; background: transparent url("../../images/icons/grey_arrow.html") no-repeat; transform: rotate(-90deg); }
.frontend .studentparentavailabilitytablenav div:last-child .ui-commandlink:last-child:after { content: ""; display: inline-block; width: 9px; height: 11px; margin-left: 5px; background: transparent url("../../images/icons/grey_arrow.html") no-repeat; transform: rotate(90deg); }
.frontend .studentparentavailabilitytablenav div:last-child .ui-commandlink.active { color: #4891e6 }
.frontend .studentparentavailabilitytablenav div:last-child .ui-commandlink.active:first-child:before { background: transparent url("../../images/icons/blue_arrow.html") no-repeat; }
.frontend .studentparentavailabilitytablenav div:last-child .ui-commandlink.active:last-child:after { background: transparent url("../../images/icons/blue_arrow.html") no-repeat; }

.studentparentavailabilityfortutor { margin: 40px 0 20px; }
.studentparentavailabilityfortutor .ui-datatable.studentparentavailabilitytable { width: 80%; }
.studentparentavailabilityfortutor .ui-datatable.studentparentavailabilitytable td img { width: 80px; height: 47px; }
.studentparentavailabilityfortutor .ui-datatable.studentparentavailabilitytable td:first-child img { width: 135px; }
.studentparentavailabilityfortutor .studentparentavailabilitytablenav { width: 80%; }
.studentparentavailabilityfortutor .studentparentavailabilitytablenav div:first-child { width: 160px; }

.signupbackground { position: fixed; top: 0; left: -50%; width: 200%; min-height: 100%; }
.signupbackground img { -webkit-filter: blur(3px) brightness(90%);position: absolute; top: 0; left: 0; right: 0;  margin: auto; min-width: 50%; min-height: 100%; }

.schoolcaptureinfomodal .dialoginner { max-width: 360px; margin: 0px auto; max-height: calc(100vh - 100px); overflow-y: auto; }
.schoolcaptureinfomodal .input { width: 100%; }
.schoolcaptureinfomodal .input input { width: 100%; }
.schoolcaptureinfomodal .submitbutton { display: block; margin: 0 auto; }

.sessioncompletemodal { text-align: center }
.sessioncompletemodal .dialoginner { max-width: 500px; margin: 0px auto; max-height: calc(100vh - 90px); overflow-y: auto; }
.sessioncompletemodal .sessiontime span { padding: 0px 10px; }
.sessioncompletemodal .tutorimage { margin-top: 30px; }
.sessioncompletemodal .tutorimage img { border-radius: 50%; }
.sessioncompletemodal h3 { margin-top: 20px; font-size: 22pt; color: #ababab }
.sessioncompletemodal a.unhighlight { color: #ababab }
.sessioncompletemodal .button.smallbutton.whitefill { padding: 5px 10px; font-weight: 400; }
.sessioncompletemodal p.small { text-align: left; font-size: 10pt; }
.sessioncompletemodal .manualstars { margin-bottom: 20px; }
.sessioncompletemodal textarea { width: 100%; height: 100px; }

.unselected svg polygon { fill: #cccccc; }