.fusion-row yahya {
    margin-top: 10% !important;
}

.cs_sep {
    border-color: #e0dede;
    border-top-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: px;
    margin-bottom: 25px;
    width: 100%;
    max-width: 30%;
}

.customheaindgclass p {
    padding_top: 10%;
}

.sidebar {
    margin-top: 11% !important;
    margin-left: -74px !important;
}

.fusion-blog-layout-grid.fusion-blog-layout-grid-4 .post {

    width: 29% !important;
    display: inline-block !important;
    float: left !important;
}

#posts-container.fusion-blog-layout-grid {
    margin: 113px -20px 0 -20px !important;
}

#menu-item-2649,
#menu-item-2653,
#mobile-menu-item-2649,
#mobile-menu-item-2653,
#mobile-menu-item-2654 {
    display: none;
}

#menu-item-2572,
#menu-item-2569,
#menu-item-2566,
#menu-item-2567,
#menu-item-2580,
#menu-item-2586,
#menu-item-2585,
#menu-item-2654 {
    display: none;
}

#menu-item-2566,#menu-item-2580{display:block !important;}
#menu-item-2569 .grade-menu .fusion-megamenu-title a {
        border-bottom: 1px solid #f2f2f2 !important;
    }

    #mobile-menu-item-2569,
    #mobile-menu-item-2572,
    #mobile-menu-item-2586 {
        display: none !important;
    }

    #new_address_id{display:none;}#menu-item-2004{display:none;}#mobile-menu-item-2004{display:none;}#meet-the-tutor-call22{display:none;}#section_ad_id{display:none;}.custom_home_tutor_adword{display:none;}#section_ad_id{display:none;}.customlinkfor_adwords{display:none;}#custom_heaidng_contactus{display:none;}#uk_id1_lang{display:none !important;}#form_pge_hk_lang{display:none !important;}#hk_home_tut{display:none !important;}#all_show_hk_hide{display:inline !important;}#uk_id1{display:none !important;}#form_pge_hk{display:none !important;}#for_hk_tut_page_12{display:none !important;}#kept_infor{display:none !important;}#online_trial_lkept_hiden{display:none !important;}#seprate_footer_widget2{display:none !important;}#hk_li{display:none !important;}#hk_li_button{display:none !important;}#all_li_button{display:inline !important;}#steps_section{display:inline !important;}#all_price_hk{display:none !important;}#all_li{display:inline !important;}#all_price_dollar{display:inline !important;}#all_price_dollar2{display:inline !important;}#all_price_hk2{display:none !important;}#all_price_dollar3{display:inline !important;}#all_price_hk3{display:none !important;}#all_price_dollar4{display:inline !important;}#all_price_hk4{display:none !important;}#hk_whatsapp_home{display:none !important;}.newclas_botto {}

.custom_class_distance {
    margin-bottom: 3%;
}

.custom_class_distance2 {
    margin-bottom: 3%;
    margin-top: 3%;
}

#auk_id1 {
    display: none;
}

#form_pge_hka {
    display: none;
}





    #ku_d_1 {
        display: none !important;
    }

    #uk_d_5 {
        display: none !important;
    }

    .newcustom_ukform {
        display: none !important;
    }

    #menu-item-2411 {
        display: none !important;
    }

    #mobile-menu-item-2411 {
        display: none !important;
    }

    #uk_whatsapp_home_des {
        display: none !important;
    }

    #uk_li_d_6 {
        display: none !important;
    }

    .tutor_call_2 {
        display: none !important;
    }

    #uk_de_prof_tut {
        display: none !important;
    }

    .facebook_hidden_uk {
        display: none !important;
    }

    .custom_home_tutor_adword2 {
        display: none !important;
    }

    #mobile-mobile-menu-item-2411 {
        display: none !important;
    }

    


    #uae_whatsapp_home_des2 {
        display: none !important;
    }

    


    .facebook_hidden_all {
        display: none !important;
    }

    .facebook_hidden_hk {
        display: none;
    }

    .facebook_hidden_uk {
        display: none !important;
    }

    


    #uk_reviews {
        display: none;
    }

    #hk_reviews {
        display: none;
    }

    #uae_reviews {
        display: none;
    }

    


    #hideforHK_tutors_page_onlyuae {
        display: none;
    }

    #mobile-mobile-menu-item-2478 {
        display: none !important;
    }

    #mobile-menu-item-2478 {
        display: none;
    }

    #menu-item-2478 {
        display: none;
    }

    .uae_cust_private_link {
        display: none !important;
    }

    #all_new_uae {
        display: none !important;
    }

    #all_price_uae_new {
        display: none !important;
    }

    #mobile-menu-item-2460 {
        display: none !important;
    }



    #all_price_new_uae2 {
        display: none !important;
    }

    #uae_de_prof_tut {
        display: none !important;
    }

    #other_text {
        display: inline;
    }

    #uae_text {
        display: none;
    }

    #terms_all {
        display: inline !important;
    }

    #terms_uae {
        display: none !important;
    }

    #menu-item-2460 {
        display: none !important;
    }

    .howitworks_uae {
        display: none;
    }

    
@media only screen and (max-width: 800px) {

    .newcu_class_heading {
        padding-top: 0px !important;
    }

}

.custom_home_tutor_adword {
    display: none;
}

#tutor_call {

    background-color: #4e958d !important;

    padding: 15px 30px 15px 30px;

    font-size: 16px;

}

@media all and (max-width: 640px) {
    .customheaindgclass {
        padding-top: 0% !important;
    }
}



.copyright_left {
    width: 40%
}

.copyright_right {
    width: 60%
}


.referral-page-title {
    display: block;
    text-align: center;
}

.referral-page-title h3 {
    float: none;
    display: block;
    line-height: 19px;
    white-space: pre-wrap;
}

#referral-blue-block {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff;
    border: 2px solid #0F2451 !important;
    margin: 50px auto;
    width: 70%;
}

#referral-green-block {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff;
    border: 2px solid #55A09B !important;
    margin: 50px auto;
    width: 70%;
    padding: 30px 0 !important;
}

.referral-blue-button {
    background: #0F2451 !important;
}

/* #mts_referral_name_title {
    text-align: center;
    position: absolute;
    left: 23%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px 1px #c7c7c7;
    color: #102451;
    display: inline-block;
    margin-bottom: 3px;
    padding: 3px 7px;
} */
#mts_referral_name_title {
    position: absolute;
    left: 16%;
    top: 30%;
    color: #102451;
    display: inline-block;
    margin-bottom: 3px;
    padding: 3px 7px;
    font-size: 1.5em;
    color: #AE1B20;
    text-shadow: 1px 1px #999;
    width: 35%;
    line-height: 1.5em;
    background-color: rgba(255,255,255,0.6)
}
@media all and (max-width: 480px) {
    #mts_referral_name_title {
        position: absolute;
        left: 10%;
        top: 37%;
        color: #102451;
        display: inline-block;
        margin-bottom: 3px;
        padding: 3px 7px;
        font-size: 1.2em;
        color: #AE1B20;
        text-shadow: 1px 1px #999;
        width: 69%;
        line-height: 1.6em;
        background-color: rgba(255,255,255,0.6);
    }

    #referral-blue-block {
        width: 90%;
    }

    #referral-green-block {
        width: 90%;
    }
}
iframe { visibility: hidden; opacity: 0; }
.fusion-fullwidth-1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}